:root{
--bs-purple:#86534f;
--bs-beige: #ccb495;
--bs-dark-purple: #594249;
--bs-brown: #aa735c;
--bs-dark-brown: #664139;
--bs-corn-yellow: #dd935e;
--bs-light-yellow: #dd935e;
--bs-dust-blue: #8e9183;
--bs-light-purple: #a56170;

}
header.masthead {
  position: relative;
  margin-bottom: 3rem;
  padding-top: calc(8rem + 57px);
  padding-bottom: 8rem;
  background: no-repeat center center;
  background-color: #6c757d;
  background-size: cover;
  background-attachment: scroll;
}
.header{
position: relative;
left: 100px;
bottom:20px;
}
body{
background-color: var(--bs-beige);
}
button{
    background-color: var(--bs-light-purple);
}
button:hover{
    background-color: var(--bs-dust-blue);
}
table{
    width: 1000px;
    padding: 10px;
    float: center;
}
th, td{
    text-align: center;
    border-bottom: solid;
    border-right: solid;
}

th{
    text-transform: uppercase;
    background-color: var(--bs-purple);
}

.menu{
    text-decoration: None;
    color: var(--bs-dark-purple);
    font-size: 20px

}
.disclaimer{
    color: var(--bs-purple)
}
.log{
    border: solid;
    width: 30%;
    background-color: var(--bs-corn-yellow);
    margin: 20px;
    float: left;
}
.comment{
    display:none;
}
.no{
    list-style-type: none;
}
.book_img{

width:100%;
display: block;
margin:auto;
text-align:center;
padding:10px
}
.info{
float:center;
width:75%;
text-align:center;
padding : 10px;
border: solid;
display: block;
margin: auto;
}
.log_header{
text-align:center;
}
.buttons{
width:50%;
position: relative;
float:center;
text-align: center;
padding: 20px;
margin: auto;
}
button{
margin:10px;
float: center;
}
.logs::after{
margin:20%;
}

.more_than_50{
    background-color: var(--bs-purple);
}

.twenty_to_fifty{
    background-color: var(--bs-brown);
}

.ten_to_twenty{
    background-color: var(--bs-dark-purple);
}

.one_to_ten{
    background-color: var(--bs-dust-blue);
}
.zero{
    background-color: var(--bs-corn-yellow);
}

.col{
    width: 10px;
    float: left;
    padding:0px;
    
}

.test::after{
    clear: both;
    padding:0px;
}
.test{
    min-height: 10px;
    padding:0px;
    margin:0px;
    
}
.form{
    margin: auto;
    text-align: center;
}
.mb-3{
    margin: 10px;
    font-size: large;
}
#submit{
    background-color: var(--bs-purple);
}
a:link{
    color:var(--bs-dark-brown);
    text-decoration: none;
    
}
a:visited{
    color:var(--bs-dust-blue);
    text-decoration: none;
}
.add_book{
    float:right;
    padding:10px;
}
.book_table{
    margin: auto;
    padding:10px;
    float:center;
    position:relative;
}
.tangerine-regular {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .tangerine-bold {
    font-family: "Tangerine", cursive;
    font-weight: 1200;
    font-style: normal;
  }
  h1.tangerine-bold{
    font-size: 50px;
  }
  
