 {% include 'header.html' %}
  <html>
  <body>
  <h2 class="disclaimer">Welcome to your personal library. Click on each 
    title to see any book logs associated with each book. To add a new Book
    click on the button ' Add New Book'. Also there are options to edit or delete 
  books from your personal library next to each book listed. </h2>

 
    <a href="{{url_for('add')}}">
      <button class="add_book">Add New Book</button>
    </a>

      {% if shelf.empty %}
      <div class="center">
      <h2>Library is empty</h2>
      </div>
      {% else %}
      <div class="center">
      <div class="book_table">
      <table>
        <tr>
          <th> Title </th>
          <th> Author</th>
          <th> Rating </th>
          <th> Choice </th>
        </tr>
        {% for key, book in shelf.iterrows(): %}
        <tr>
          <td><a href="{{url_for('show_log', book_id=book['id'])}}">{{book['title']}}</a> </td>

          <td> {{book['author']}} </td>
          <td>{{book['rating']}} /10</td>
          <td><a href="{{url_for('edit', id=book['id'])}}">
          <button>Edit</button>
        </a>

        <a href="{{url_for('delete', id=book['id'])}}">
          <button>Delete</button>
        </a>
          </td>
        </tr>
            {%endfor%}
      </table>
      </div>
      </div>
{% endif %}



<!--      <input type="hidden">-->



   


  </body>
</html>
