{% include "header.html"%}
<html>
<body>
  <div class="center">
  <h1>Edit Book</h1>
  </div>
  <div class="center">
    <form action="" method="POST">
      <label>Edit</label>
        <select name="choice">
            <option value="title_option">Book Title</option>
            <option value="author_option">Author Name</option>
            <option value="rating_option">Rating</option>
        </select>
      <input name="new_name" type="text" />
      <button type="submit">Update Book</button>
    </form>
    </div>
{% include "book.html" %}
</body>
</html>