{% from "bootstrap5/form.html" import render_form %} {% block content %}
{% include "header.html"%}
<html>
<body>

    <h1>Pages Read</h1>
    <table>
        <tr>
            {%for m in months%}
             <th>{{m}}</th>
             {%endfor%}
           </tr>
     {%for page in pages%}
     <tr>
     {%for m in months%}
      
      {%if m==month and page['id']==(day)%}
          <td class="zero">{{render_form(form)}}{{page[m]}}</td>
          
          {%else%}
          {%if page[m]==0%}
          <td class="zero" id="{{page['id']}}-{{m}}">{{page[m]}}</td>
          {%elif page[m]  < 0 %}
          <td class="zero" id="{{page['id']}}-{{m}}">_</td>
          {%elif page[m]>0 and page[m] <= 10 %}
          <td class="one_to_ten" id="{{page['id']}}-{{m}}">{{page[m]}}</td>
          {%elif page[m]>10 and page[m] <= 20 %}
          <td class="ten_to_twenty" id="{{page['id']}}-{{m}}">{{page[m]}}</td>
          {%elif page[m]>20 and page[m] <= 50 %}
          <td class="twenty_to_fifty" id="{{page['id']}}-{{m}}">{{page[m]}}</td>
          {%elif page[m]>50 %}
          <td class="more_than_50" id="{{page['id']}}-{{m}}">{{page[m]}}</td>
          {%endif%}
          {%endif%}
      {%endfor%}
    </tr>
      {%endfor%}

    </table>
    <div>
      {%for d in range%}
      {%for y in range(54)%}
    <div class="col">
      {%for x in range(7)%}
      <p class="test">_</p>
      {%endfor%}
  </div>
    {%endfor%}
  </div>
   
</body>
</html>
{% endblock %}