<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Library</title>
    <link href="static/style.css" rel="stylesheet"/>
</head>
<header class="masthead" style="background-image: url('../static/chris-lawton-zvKx6ixUhWQ-unsplash.jpg')">

<div class="header">
<h1>Library</h1>
    </div>

</header>
<body>
<br>
    <div class="menu">
        <a href="{{url_for('home')}}">Home/ </a><a href="{{url_for('login')}}">Login/ </a><a href="">Logout/ </a><a href="{{url_for('register')}}">Register</a>
    </div>
</body>
</html>