
{% from "bootstrap5/form.html" import render_form %} {% block content %} {%
include "header.html" %}
<html>
  <body>
   <h1>Book Logs </h1>
   <div class="info">
       <h2>{{book.title}} by</h2>
       <h2>{{book.author}}</h2>
   </div>
  <ul class="no">
    {% for logs in all_logs: %}
    <li class="log"> <h3>{{logs.log}} </h3><h3>-{{logs.date_created}}</h3></li>



  {% endfor %}

</ul>
   <br>
  <a href="{{url_for('post_log', book_id=book_id)}}"><button>Add Log</button></a>


    <div class="comment">
        <p>Comments:</p>
    <ul >
      {% for comment in comments: %}
      <li>{{comment.comment_text}}</li>
      <p>-{{current_user.name}}</p>

    {% endfor %}

        <a href="{{url_for('comment', book_id=book_id)}}"><button>Add Comment</button></a>
      </ul>
    </div>
    <button class="view" onclick="comment()">View Comments</button>

<script>
    var list=document.getElementsByClassName("comment")[0];
  function comment(){
  var btn=document.getElementsByClassName('view')[0];
  if(btn.innerHTML==="View Comments"){
     btn.innerHTML='Hide Comments';
     }
  else{
  btn.innerHTML='View Comments';
  }
  console.log(btn);
  list.classList.toggle('comment');
  }

</script>
  </body>
{% endblock %}
</html>
